/* || Global Styles */

/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colours */

:root {
    /* Neutral */
    --Neutral-900: #25293a;
    --Neutral-800: #333950;
    --Neutral-500: #747b95;
    --Neutral-50: #fafafa;
    --Neutral-0: #fff;
    /* Blue */
    --Blue-500: #5175ff;
    --Blue-300: #829cff;
    --Blue-100: #e4eaff;
    /* Red */
    --Red-400: #f05b5b;
    /* Box Shadow */
    --Box-Shadow: #cad0ea;
}

/* Fonts */

@font-face {
    font-family: "Kumbh Sans";
    src: url("./fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

/* || End */

/* || Main Styling */

html {
    overflow-x: hidden;
}

body {
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    padding: 0 1rem 0 1rem;
    position: relative;
}

/* Header */

header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-block-end: 5rem;
    padding-top: 2.5rem;
}

.header-img {
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

/* Hero Section */

.hero-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-end: 5rem;
    text-align: center;
}

.hero-img {
    height: auto;
    margin-block-end: 3.5rem;
    width: 50%;
    z-index: 99;
}

h1 {
    color: var(--Neutral-800);
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-block-end: 1.5rem;
}

.hero-text {
    color: var(--Neutral-500);
    font-size: clamp(1rem, 5vw, 1.2rem);
    line-height: 150%;
    margin-block-end: 1.5rem;
}

.get-started-btn {
    background-color: var(--Blue-500);
    border: none;
    border-radius: 2rem;
    box-shadow: 0rem 1rem 1.5rem var(--Box-Shadow);
    color: var(--Neutral-0);
    cursor: pointer;
    font-weight: 550;
    font-size: 1.1rem;
    padding: 0.8rem 2.5rem;
    transition: opacity 0.2s ease-in-out;
}

.get-started-btn:focus {
    outline: 0.15rem solid var(--Blue-500);
    outline-offset: 0.2rem;
}

.get-started-btn:hover {
    opacity: 0.7;
}

/* Card Section */

.prices-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-block-end: 5rem;
}

.card {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem 1.5rem;
    width: 100%;
    z-index: 3;
}

.card-pricing-container,
.card-features-container {
    text-align: center;
}

.card-pricing-container {
    color: var(--Neutral-900);
}

.card-features-container {
    color: var(--Neutral-500);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h2 {
    margin-block-end: 1rem;
}

h3 {
    font-size: 3.5rem;
    margin-block-end: 0.5rem;
}

.btn-free {
    background-color: var(--Blue-100);
    border: none;
    border-radius: 2rem;
    color: var(--Blue-500);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.8rem 2.5rem;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.btn-free:hover {
    background-color: var(--Blue-500);
    color: var(--Neutral-0);
}

.btn-free:focus {
    outline: 0.15rem solid var(--Blue-500);
    outline-offset: 0.2rem;
}

.btn-basic {
    background-color: var(--Neutral-0);
    border: none;
    border-radius: 2rem;
    color: var(--Blue-500);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.8rem 2.5rem;
    transition: background-color 0.2s ease-in-out;
}

.btn-basic:hover {
    background-color: var(--Blue-100);
}

.btn-basic:focus {
    outline: 0.15rem solid var(--Neutral-0);
    outline-offset: 0.2rem;
}

.free {
    box-shadow: 0rem 1rem 1.5rem var(--Box-Shadow);
    background-color: var(--Neutral-0);
}

.basic {
    background-color: var(--Blue-500);
}

.ultimate {
    background-color: var(--Neutral-0);
}

.basic div {
    color: var(--Neutral-0);
}

/* Countdown Section */

.countdown-section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coming {
    color: var(--Neutral-0);
}

.soon {
    color: var(--Blue-500);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-block-end: 2rem;
}

.countdown-timer-container {
    display: flex;
    gap: 1.2rem;
    justify-content: space-around;
    margin-block-end: 4rem;
}

.hours,
.days,
.minutes,
.seconds {
    align-items: center;
    background-color: var(--Neutral-800);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.8rem 1rem;
}

#hours,
#days,
#minutes,
#seconds {
    color: var(--Neutral-0);
    font-size: clamp(0.8rem, 5vw, 2rem);
    font-weight: 600;
}

.countdown-unit {
    color: var(--Neutral-500);
}

.footer-btn {
    background-color: var(--Blue-500);
    border: none;
    border-radius: 2rem;
    color: var(--Neutral-0);
    cursor: pointer;
    font-weight: 550;
    font-size: 1.1rem;
    margin-block-end: 3rem;
    padding: 0.8rem 2.5rem;
    transition: background-color 0.2s ease-in-out;
}

.footer-btn:focus {
    outline: 0.15rem solid var(--Blue-300);
    outline-offset: 0.2rem;
}

.footer-btn:hover {
    background-color: var(--Blue-300);
}

/* Dark Background */

.footer-img {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.dark-bkg {
    background-color: var(--Neutral-900);
    padding: 1rem;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: -1;
}

/* || End */

/* || Media Queries */

/* Tablet */

@media screen and (min-width: 51.25rem) {
    body {
        padding: 0 2.5rem 0 2.5rem;
        background-color: var(--Neutral-50);
    }

    /* Header */

    header {
        justify-content: flex-start;
    }

    /* Hero Section */

    .hero-section {
        align-items: start;
        display: grid;
        gap: 3rem;
        grid-template: 1fr / repeat(2, 1fr);
        text-align: left;
    }

    .hero-text {
        grid-row: 1;
        grid-column: 1;
    }

    .hero-img {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
    }

    /* Pricing Section */

    .card {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        gap: 0;
    }

    .btn-free {
        justify-self: center;
        width: 12rem;
    }

    .btn-basic {
        justify-self: center;
        width: 12rem;
    }

    .card-pricing-container {
        margin-block-end: 2rem;
    }

    .card-features-container {
        align-self: center;
    }

    .dark-bkg {
        height: 43%;
    }

    /* Countdown Section */
}

@media screen and (min-width: 80rem) {
    body {
        padding: 1.5rem 10rem 0 10rem;
    }

    .header-img {
        width: 40%;
        transform: translate(65rem, -20%);
    }

    /* Hero Section */

    .hero-section {
        align-items: center;
    }

    .hero-img {
        justify-self: end;
    }

    /* Pricing Section */

    .prices-section {
        flex-direction: row;
        gap: 5rem;
        margin-block-end: 10rem;
    }

    .card {
        display: flex;
        padding: 2.5rem 0rem;
        gap: 2rem;
        width: 25%;
    }

    .free {
        box-shadow: none;
    }

    /* Countdown Section */

    .countdown-section {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4rem;
        overflow-y: hidden;
    }

    .timer {
        text-align: left;
    }

    /* Dark Background */

    .footer-img {
        transform: translate(-25%, 45%);
        width: 40%;
    }

    .dark-bkg {
        height: 30%;
    }
}

/* || End */
